[submodule "ShiftingFingerprintScraper/ShiftingBrowserFingerprints"]
	path = ShiftingFingerprintScraper/ShiftingBrowserFingerprints
	url = https://github.com/PeterAFockema/ShiftingBrowserFingerprints.git
